<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="file chooser_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="file chooser" type="xstring" value=""/>
<config key="mapping.priority_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_multifilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="mapping.priority.radio_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.priority.radio" type="xstring" value="Trivial"/>
<config key="mapping.priority.enabled_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.priority.enabled" type="xboolean" value="false"/>
<config key="mapping.priority.Major">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Major"/>
</config>
<config key="mapping.priority.Unknown">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Unknown"/>
</config>
<config key="mapping.priority.Critical">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Critical"/>
</config>
<config key="mapping.priority.Trivial">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Trivial"/>
</config>
<config key="mapping.priority.Minor">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Minor"/>
</config>
<config key="mapping.priority.Blocker">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Blocker"/>
</config>
<config key="mapping.priority.excluded">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="mapping.status_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_multifilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="mapping.status.radio_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.status.radio" type="xstring" value="Open"/>
<config key="mapping.status.enabled_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.status.enabled" type="xboolean" value="false"/>
<config key="mapping.status.In progress">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="In progress"/>
</config>
<config key="mapping.status.Unknown">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Unknown"/>
</config>
<config key="mapping.status.Reopened">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Reopened"/>
</config>
<config key="mapping.status.Closed">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Closed"/>
</config>
<config key="mapping.status.Resolved">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Resolved"/>
</config>
<config key="mapping.status.Open">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Open"/>
</config>
<config key="mapping.status.excluded">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="mapping.type_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_multifilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="mapping.type.radio_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.type.radio" type="xstring" value="Bug"/>
<config key="mapping.type.enabled_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.type.enabled" type="xboolean" value="false"/>
<config key="mapping.type.Unknown">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Unknown"/>
</config>
<config key="mapping.type.Bug">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Bug"/>
</config>
<config key="mapping.type.Test">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Test"/>
</config>
<config key="mapping.type.Enhancement">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Enhancement"/>
</config>
<config key="mapping.type.excluded">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="mapping.resolution_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_multifilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="mapping.resolution.radio_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.resolution.radio" type="xstring" value="Invalid"/>
<config key="mapping.resolution.enabled_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="mapping.resolution.enabled" type="xboolean" value="false"/>
<config key="mapping.resolution.Unresolved">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Unresolved"/>
</config>
<config key="mapping.resolution.Wont fix">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Wont fix"/>
</config>
<config key="mapping.resolution.Unknown">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Unknown"/>
</config>
<config key="mapping.resolution.Duplicate">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Duplicate"/>
</config>
<config key="mapping.resolution.Invalid">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Invalid"/>
</config>
<config key="mapping.resolution.Fixed">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Fixed"/>
</config>
<config key="mapping.resolution.excluded">
<entry key="array-size" type="xint" value="0"/>
</config>
</config>
<config key="variables">
<config key="file chooser">
<entry key="used_variable" type="xstring" value="knime.node(drop) jira-test.xml"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.impressivecode.depress.its.jira.JiraOfflineAdapterNodeFactory"/>
<entry key="node-name" type="xstring" value="Jira Adapter (Offline)"/>
<entry key="node-bundle-name" type="xstring" value="ic-depress"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.depress.knime.nodes"/>
<entry key="node-bundle-vendor" type="xstring" value="ImpressiveCode"/>
<entry key="node-bundle-version" type="xstring" value="2.0.0.qualifier"/>
<entry key="node-feature-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-symbolic-name" type="xstring" isnull="true" value=""/>
<entry key="node-feature-vendor" type="xstring" isnull="true" value=""/>
<entry key="node-feature-version" type="xstring" value="0.0.0"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Jira Adapter (Offline)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
