<div class="container">
    <div class="page-header">
        <h1>Examples</h1>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Examples</h3>
        </div>
        <div class="panel-body">
            <ol>
                <li><a href="" ng-click="gotoAnchor('example1')"> Analysing project release using Jira, CKJM and
                    JaCoCo.</a></li>
                <li><a href="" ng-click="gotoAnchor('example2')"> Release notes for Git/SVN files with Jira.</a></li>
            </ol>
        </div>
    </div>


    <h2 id="example1">Analysing project release using Jira, CKJM and JaCoCo.</h2>

    <div class="alert alert-info" role="alert">
        <p>
            <i class="fa fa-hand-o-right fa-2x"></i> If you need any help with using the analysis tools or just with
            generating needed input files, check this <a
                onclick="_gaq.push(['_trackEvent', 'Outbound Link', 'Additional']);"
                href="#additional/">site</a>
        </p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <li><a
                        href="examples/project_analysis/workflow_jira_example.zip"><i
                        class="fa fa-file"></i> Download DePress workflow. </a>
                </li>

                <li><a
                        href="examples/project_analysis/jira_example_data.zip"><i class="fa fa-file"></i> Download
                    example input files used in this tutorial or you can use your own log files. </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <a href="examples/project_analysis/pre_rel_conf.png" id="link" data-toggle="lightbox" data-type="image"
               data-title="A random title" data-footer="A custom footer text">
                <img src="examples/project_analysis/pre_rel_conf.png" class="img-responsive thumbnail">
            </a>
        </div>
    </div>

    <p class="lead">
    <ol>
        <li>
        </li>
        <li>Your workflow should look similar to this:
            <center>
                <a class="image-popup-vertical-fit" href="examples/project_analysis/whole_example.png">
                    <img src="examples/project_analysis/whole_example.png" width="457" height="400"/>
                </a> </br>
            </center>
        </li>
        <li>There are four parts of data analysis. First is pre release version. Select your Jira and Git log files and
            configure appropriate nodes seen in this part by clicking on them with the right button. Add also list of
            developers.
            <center>
                </br>
            </center>
        </li>
        <li>Now focus on release part. There you use your JaCoCo and CKJM log files. Configure these two orange nodes
            the same way as said above.
            <center>
                <a class="image-popup-vertical-fit" href="examples/project_analysis/release.png">
                    <img src="examples/project_analysis/release.png" width="373" height="280"/>
                </a> </br>
            </center>
        </li>
        <li>In this part you look at post release version of your project. Use Git and Jira log files.
            <center>
                <a class="image-popup-vertical-fit" href="examples/project_analysis/post_release.png">
                    <img src="examples/project_analysis/post_release.png" width="460" height="300"/>
                </a> </br>
            </center>
        </li>
        <li>Now you can get information about the result of data analysis. You can get a xls file or a diagram. Click
            with right button of the mouse on either XLS Writer node or Data Tree Learner and choose execute. When you
            get a green circle under your node, your result is ready. You can check it clicking with right button on
            node and choosing the last option. Instruction of XLS Writer configuration is shown in above tutorial.
            <center>
                <a class="image-popup-vertical-fit" href="examples/project_analysis/analysis.png">
                    <img src="examples/project_analysis/analysis.png" width="305" height="300"/>
                </a> </br>
            </center>
        </li>
    </ol>
    </p>
    <p class="lead">

    <h2 id="example2">Release notes for Git/SVN files with Jira</h2>
    <ol>
        <li><a href=".examples/quickstart">Set up</a> your DePress and download workflow for either <a
                href="examples/release/gitworkflow.zip">Git</a> or <a href="examples/release/svnworkflow.zip">SVN</a>(click
            on name).
            If it's needed, check <a href="examples/release/example.zip">Example Git files</a> used in this tutorial.
        </li>
        <li>Import (previously downloaded) KNIME workflow as an archive file:
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/import.png">
                    <img src="examples/release/import.png" width="200" height="150"/>
                </a> </br>
            </center>
            You should see a workflow similar to this(it's name is either git or svn):
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/pre_init.png">
                    <img src="examples/release/pre_init.png" width="300" height="200"/>
                </a> </br>
            </center>
            <b>If you get an error about missing XLS node, click on the blue button above and solve the problem.</b>
        </li>
        <li>Select your Git/SVN log files(if you don't know how to generate them, click on the blue button above). To do
            this select configure on List Files node and choose your directory where both files are placed.
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/files.png">
                    <img src="examples/release/files.png" width="150" height="50"/>
                </a> </br>
            </center>
            Generation of valid Git/SVN logs is also included in Git/SVN Offline node description.</br>
            Files should have names describing their version e.g. "1.0.0.xml" and "1.1.2.xml".
            You need at least two distinct log files to create release notes(to compare versions of your project).
        </li>
        <li>Execute Java Edit Variable (simple) node.
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/init.png">
                    <img src="examples/release/init.png" width="250" height="75"/>
                </a> </br>
            </center>
        </li>
        <li>Select your Jira log file.
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/jira.png">
                    <img src="examples/release/jira.png" width="175" height="50"/>
                </a> </br>
            </center>
        </li>
        <li>Optionally you can configure Jira mapping of nonstandard values. </br>
            Following this example: Go to Mapping tab, then Resolution and enable "Customized properties".
            Select "Unresolved" radio button.
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/mapping1.png">
                    <img src="examples/release/mapping1.png" width="350" height="250"/>
                </a> </br>
            </center>
            Then select "Later" property and click "add" button.
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/mapping2.png">
                    <img src="examples/release/mapping2.png" width="350" height="250"/>
                </a> </br>
            </center>
            From now on all resolution properties found in Jira log file will be shown as "Unresolved"
        </li>
        <li>Configure XLS Writer - set output file name in appriopriate box. Click OK.
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/writer.png">
                    <img src="examples/release/writer.png" width="250" height="50"/>
                </a>
            </center>
        </li>
        <li>By now everything should be configured. Execute XLS Writer node. Clicking on it with the right mouse button
            and choosing the last option, you can see the result table.
            It will also be dispayed as a XLS file.
            <center>
                <a class="image-popup-vertical-fit" href="examples/release/start.png">
                    <img src="examples/release/start.png" width="225" height="75"/>
                </a>
            </center>
        </li>
    </ol>
    </p>
</div>