<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node
            factory-class="org.impressivecode.depress.metric.judy.JudyAdapterNodeFactory"
            id="org.impressivecode.depress.metric.judy">
      </node>
</extension>
   <extension point="org.knime.workbench.repository.categories">
      <category
            icon="icons/missing.gif"
            level-id="depress"
            name="Depress"
            path="/">
      </category>
   </extension>
</plugin>
