<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="DePress Plugins"
            icon="resources/icons/depress.png"
            level-id="depress"
            name="DePress"
            path="/">
      </category>
      <category
            description="Source Code Management"
            level-id="depress.scm"
            name="SCM"
            path="depress/">
      </category>
          <category
            description="Issue Tracking Systems"
            level-id="depress.its"
            name="ITS"
            path="depress/">
      </category>
       <category
             description="Metric Readers"
             level-id="depress.mr"
             name="MR"
             path="depress/">
       </category>
       <category
             description="Metric Generators"
             level-id="depress.mg"
             name="MG"
             path="depress/">
       </category>
       <category
             description="Issue Matchers"
             level-id="depress.matcher"
             name="Matcher"
             path="depress/">
       </category>
       <category
             description="Data Transformation"
             level-id="depress.data"
             name="Data"
             path="depress/">
       </category>
       <category
             description="Experimental"
             level-id="depress.experimental"
             name="Experimental"
             path="depress/">
       </category>

   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="depress/depress.scm"
            factory-class="org.impressivecode.depress.scm.svn.SVNOfflineAdapterNodeFactory"
            id="org.impressivecode.depress.scm.svnoffline"/>
      <node
            category-path="depress/depress.scm"
            factory-class="org.impressivecode.depress.scm.svn.SVNOnlineAdapterNodeFactory"
            id="org.impressivecode.depress.scm.svnonline">
      </node>
      <node
            category-path="depress/depress.scm"
            factory-class="org.impressivecode.depress.scm.git.GitOfflineAdapterNodeFactory"
            id="org.impressivecode.depress.scm.gitoffline">
      </node>
            <node
            category-path="depress/depress.its"
            expert-flag="false"
            factory-class="org.impressivecode.depress.its.jira.JiraOfflineAdapterNodeFactory"
            id="org.impressivecode.depress.its.jiraoffline">
      </node>
      <node
            category-path="depress/depress.its"
            expert-flag="false"
            factory-class="org.impressivecode.depress.its.jira.JiraOnlineAdapterNodeFactory"
            id="org.impressivecode.depress.its.jiraonline">
      </node>
        <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.sourcecrawler.CrawlerAdapterNodeFactory"
            id="org.impressivecode.depress.sourcecrawler">
      </node>
            <node
            category-path="depress/depress.matcher"
            factory-class="org.impressivecode.depress.matcher.markerparser.MarkerParserNodeFactory"
            id="org.impressivecode.depress.support.markerparser"/>
      <node
            category-path="depress/depress.matcher"
            factory-class="org.impressivecode.depress.matcher.extmarkerparser.ExtendedMarkerParserNodeFactory"
            id="org.impressivecode.depress.support.extmarkerparser">
      </node>
      <node
            category-path="depress/depress.matcher"
            factory-class="org.impressivecode.depress.matcher.activitymatcher.ActivityMatcherParserNodeFactory"
            id="org.impressivecode.depress.support.activitymatcher">
      </node>
      <node
            category-path="depress/depress.matcher"
            factory-class="org.impressivecode.depress.matcher.syntacticanalysis.SyntacticAnalysisNodeFactory"
            id="org.impressivecode.depress.support.syntacticanalysis">
      </node>
      <node
            category-path="depress/depress.matcher"
            factory-class="org.impressivecode.depress.matcher.sematicanalysis.SemanticAnalysisNodeFactory"
            id="org.impressivecode.depress.support.semanticanalysis">
      </node>
         <node
            category-path="depress/depress.data"
            expert-flag="false"
            factory-class="org.impressivecode.depress.support.anonymisation.DecryptionNodeFactory"
            id="org.impressivecode.depress.support.decryption">
      </node>
      <node
            category-path="depress/depress.data"
            expert-flag="false"
            factory-class="org.impressivecode.depress.support.anonymisation.EncryptionNodeFactory"
            id="org.impressivecode.depress.support.encryption">
      </node>
      <node
			category-path="depress/depress.its"
			expert-flag="false"
			factory-class="org.impressivecode.depress.its.bugzilla.BugzillaAdapterNodeFactory"
			id="org.impressivecode.depress.its.bugzilla">
		</node>
		      <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.checkstyle.CheckStyleAdapterNodeFactory"
            id="org.impressivecode.depress.mr.checkstyle">
      </node>
      <node category-path="depress/depress.mr" factory-class="org.impressivecode.depress.mr.pitest.PitestNodeFactory" id="org.impressivecode.depress.mr.pitest"/>
        <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.judy.JudyAdapterNodeFactory"
            id="org.impressivecode.depress.mr.judy">
      </node>
          <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.jacoco.JaCoCoAdapterNodeFactory"
            id="org.impressivecode.depress.mr.jacoco">
      </node>
        <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.intellijmetrics.IntellijMetricsNodeFactory"
            id="org.impressivecode.depress.mr.intellijmetrics"/>
        <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.googlemetrics.GoogleMetricsNodeFactory"
            id="org.impressivecode.depress.mr.googlemetrics"/>
       <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.googleaudit.GoogleAuditNodeFactory"
            id="org.impressivecode.depress.mr.googleaudit"/>
       <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.eclipsemetrics.EclipseMetricsNodeFactory"
            id="org.impressivecode.depress.mr.eclipsemetrics"/>
      <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.ckjm.ChidamberKemererJavaMetricsNodeFactory"
            id="org.impressivecode.depress.mr.ckjm"/>
        <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.checkstyle.CheckStyleAdapterNodeFactory"
            id="org.impressivecode.depress.mr.checkstyle">
      </node>
       <node
            category-path="depress/depress.mr"
            factory-class="org.impressivecode.depress.mr.pmd.PMDAdapterNodeFactory"
            id="org.impressivecode.depress.mr.pmd">
      </node>
            <node
            category-path="depress/depress.mg"
            expert-flag="false"
            factory-class="org.impressivecode.depress.mg.po.PeopleOrganizationMetricsNodeFactory"
            id="org.impressivecode.depress.mg.po">
      </node>
       <node
            category-path="depress/depress.mg"
            expert-flag="false"
            factory-class="org.impressivecode.depress.mg.ipa.IssuesMetricNodeFactory"
            id="org.impressivecode.depress.mg.ipa">
      </node>
      
   </extension>
   
   
</plugin>
