<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>


<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="depress/depress.scm"
            factory-class="org.impressivecode.depress.scm.svn.SVNOfflineAdapterNodeFactory"
            id="org.impressivecode.depress.scm.svnoffline"/>
   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="depress/depress.scm"
            factory-class="org.impressivecode.depress.scm.svn.SVNOnlineAdapterNodeFactory"
            id="org.impressivecode.depress.scm.svnonline"/>
   </extension>
</plugin>
