<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.knime.workbench.repository.nodes">
		<node
			category-path="depress/depress.its"
			expert-flag="false"
			factory-class="org.impressivecode.depress.its.bugzilla.BugzillaAdapterNodeFactory"
			id="org.impressivecode.depress.its.bugzilla">
		</node>
	</extension>
	<extension
		point="org.knime.workbench.repository.nodes">
		<node
			category-path="depress/depress.its"
			expert-flag="false"
			factory-class="org.impressivecode.depress.its.bugzillaonline.BugzillaOnlineAdapterNodeFactory"
			id="org.impressivecode.depress.its.bugzillaonline">
		</node>
	</extension>
</plugin>
