<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="DePress Plugins"
            icon="resources/icons/depress.png"
            level-id="depress"
            name="DePress"
            path="/">
      </category>
   </extension>
    
</plugin>
