<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="DePress Plugins"
            icon="resources/icons/depress.png"
            level-id="depress"
            name="DePress"
            path="/">
      </category>
      <category
            description="Source Code Management"
            level-id="depress.scm"
            name="SCM"
            path="depress/">
      </category>
       <category
            description="Issue Tracking Systems"
            level-id="depress.its"
            name="ITS"
            path="depress/">
      </category>
       <category
             description="Metric Readers"
             level-id="depress.mr"
             name="MR"
             path="depress/">
       </category>
       <category
             description="Metric Generators"
             level-id="depress.mg"
             name="MG"
             path="depress/">
       </category>
       <category
             description="Issue Matchers"
             level-id="depress.matcher"
             name="Matcher"
             path="depress/">
       </category>
       <category
             description="Data Transformation"
             level-id="depress.data"
             name="Data"
             path="depress/">
       </category>
       <category
             description="Experimental"
             level-id="depress.experimental"
             name="Experimental"
             path="depress/">
       </category>
   </extension>
    
</plugin>
