<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner.Joiner2NodeFactory"/>
<entry key="node-name" type="xstring" value="Joiner"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings"/>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="duplicateHandling" type="xstring" value="DontExecute"/>
<entry key="compositionMode" type="xstring" value="MatchAll"/>
<entry key="joinMode" type="xstring" value="InnerJoin"/>
<config key="leftTableJoinPredicate">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="$RowID$"/>
</config>
<config key="rightTableJoinPredicate">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="RowIDchanged"/>
</config>
<entry key="suffix" type="xstring" value="(*)"/>
<config key="leftIncludeCols">
<entry key="array-size" type="xint" value="21"/>
<entry key="0" type="xstring" value="Issues"/>
<entry key="1" type="xstring" value="PreChanges"/>
<entry key="2" type="xstring" value="NumberOfUniqueIssues"/>
<entry key="3" type="xstring" value="HasIssues"/>
<entry key="4" type="xstring" value="NOE"/>
<entry key="5" type="xstring" value="NOEE"/>
<entry key="6" type="xstring" value="EF"/>
<entry key="7" type="xstring" value="DMO"/>
<entry key="8" type="xstring" value="PO"/>
<entry key="9" type="xstring" value="OCO"/>
<entry key="10" type="xstring" value="OOW"/>
<entry key="11" type="xstring" value="OIF"/>
<entry key="12" type="xstring" value="NOE1"/>
<entry key="13" type="xstring" value="NOE2"/>
<entry key="14" type="xstring" value="NOE3"/>
<entry key="15" type="xstring" value="NOE4"/>
<entry key="16" type="xstring" value="NOE5"/>
<entry key="17" type="xstring" value="Issues (#1)"/>
<entry key="18" type="xstring" value="PostChanges"/>
<entry key="19" type="xstring" value="NumberOfUniqueIssues (#1)"/>
<entry key="20" type="xstring" value="HasIssues (#1)"/>
</config>
<config key="rightIncludeCols">
<entry key="array-size" type="xint" value="25"/>
<entry key="0" type="xstring" value="WMC"/>
<entry key="1" type="xstring" value="DIT"/>
<entry key="2" type="xstring" value="NOC"/>
<entry key="3" type="xstring" value="CBO"/>
<entry key="4" type="xstring" value="RFC"/>
<entry key="5" type="xstring" value="LCOM"/>
<entry key="6" type="xstring" value="CA"/>
<entry key="7" type="xstring" value="CE"/>
<entry key="8" type="xstring" value="NPM"/>
<entry key="9" type="xstring" value="LCOM3"/>
<entry key="10" type="xstring" value="LOC"/>
<entry key="11" type="xstring" value="DAM"/>
<entry key="12" type="xstring" value="MOA"/>
<entry key="13" type="xstring" value="MFA"/>
<entry key="14" type="xstring" value="CAM"/>
<entry key="15" type="xstring" value="IC"/>
<entry key="16" type="xstring" value="CBM"/>
<entry key="17" type="xstring" value="AMC"/>
<entry key="18" type="xstring" value="LineCoverage"/>
<entry key="19" type="xstring" value="InstructionsCoverage"/>
<entry key="20" type="xstring" value="BrancheCoverage"/>
<entry key="21" type="xstring" value="ComplexityCoverage"/>
<entry key="22" type="xstring" value="MethodCoverage"/>
<entry key="23" type="xstring" value="ClassCoverage"/>
<entry key="24" type="xstring" value="RowIDchanged"/>
</config>
<entry key="leftIncludeAll" type="xboolean" value="true"/>
<entry key="rightIncludeAll" type="xboolean" value="true"/>
<entry key="rmLeftJoinCols" type="xboolean" value="false"/>
<entry key="rmRightJoinCols" type="xboolean" value="true"/>
<entry key="maxOpenFiles" type="xint" value="200"/>
<entry key="rowKeySeparator" type="xstring" value="_"/>
<entry key="enableHiLite" type="xboolean" value="false"/>
<entry key="numBitsInitial" type="xint" value="6"/>
<entry key="numBitsMaximal" type="xint" value="32"/>
<entry key="usedMemoryThreshold" type="xdouble" value="0.85"/>
<entry key="minAvailableMemory" type="xlong" value="10000000"/>
<entry key="memUseCollectionUsage" type="xboolean" value="true"/>
<entry key="version" type="xstring" value="version_2.1"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="name" type="xstring" value="Joiner"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
